//General

$blueColor : #006cbc;
$darkGrayColor : #040503;
$lightGrayColor: #555555;
$greenColor : #007d35;
$redColor: #c53030;

$lightGrayBackground: #e8eaec;
$darkGrayBackground: #222;
$materialGray: #edf2f7;
// Sidebar
$widthSidebar : 250px;
$widthSidebarMobile: 50px;

$boxShadow : 0 4px 20px 0px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);