{% extends 'email/base.html.twig' %}

{% block body %}
    <section>
        <div class="card">
            <div class="card-body">
                <h1>{{'mail.hello'|trans}}, </h1>
                <p>
                    {{ 'mail.reset.content'|trans }} <a href="{{ reset_link }}">{{'mail.reset.button'|trans}}</a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}