@import "../abstracts/variables";
@import "animations";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //define what rem is
  //font-size: 62.5%; //10px
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow-x: hidden;
}

a, button{
  & i{
    margin-right: .5rem;
  }
  &:hover{
    text-decoration: none;
    color: $darkGrayColor;
  }
}

h1{
  & span{
    font-size: 1rem;
  }
}

#collapse-form{
  display: none;
  &.show{
    display: block;
  }
}

.min-vh-100 {
  min-height: calc(100vh - 56px) !important;
}

.loader {
  width: 40px;
  height: 40px;
  margin: 2rem auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

#container-products{
  overflow-y: scroll;
}