//General

$blueColor : #272454;
$darkGrayColor : #212121;
$superDarkGrayColor: #222;
$lightGrayColor: #444444;
$greenColor : #81c664;
$redColor: #f05075;
$yellowColor: rgb(254, 203, 68);
$superLightGrayColor: rgba(32, 32, 32, 0.03);

$lightGrayBackground: #e8eaec;
$darkGrayBackground: #222;
$materialGray: #2724540f;
// Sidebar
$widthSidebar : 250px;
$widthSidebarMobile: 50px;

$boxShadow : 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);

$colors: $blueColor, $yellowColor, $redColor, $greenColor;
$repeat: 20;