{% extends 'web/base.html' %}
{% load static %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h5 class="card-title text-primary">Support de cours</h5>
                {% if user.role == 'teacher' %}
                    <a href="{% url 'courses_add_supports' %}" class="btn btn-primary">
                        Ajouter un support
                    </a>
                {% endif %}
            </div>
            <div class="accordion" id="accordionExample">
                {% for course in courses %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-{{ course.id }}">
                            <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#collapse-{{ course.id }}"
                                    aria-expanded="false"
                                    aria-controls="collapseOne"
                            >
                                <span>
                                    {{ course.name }}
                                    <i> {{ course.teacher.first_name }} {{ course.teacher.last_name }}</i>
                                    <b>{{ course.document_set.all|length }} fichiers</b>
                                </span>
                            </button>
                        </h2>
                        <div
                                id="collapse-{{ course.id }}"
                                class="accordion-collapse collapse"
                                aria-labelledby="heading-{{ course.id }}"
                                data-mdb-parent="#accordionExample"
                        >
                            <div class="accordion-body">
                                <table class="table">
                                    <thead class="table-dark">
                                    <tr>
                                        <th scope="col">Ajouté le</th>
                                        <th scope="col">Document</th>
                                        <th scope="col" class="text-end">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for document in course.document_set.all %}
                                        <tr>
                                            <td>{{ document.created_at|date:"d/m/Y" }}</td>
                                            <td>{{ document.name }}</td>
                                            <td class="text-end">
                                                <a href="{% get_media_prefix %}{{ document.file }}" download>
                                                    <i class="fa fa-download"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

