@import "../abstracts/variables";

.admin{
  .brand{
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
  .navbar.bg-light{
    background-color: white!important;
    .nav-link{
      color: $darkGrayColor;
    }
  }

  .sidebar{
    .nav-link{
      &.active, &:hover{
        color: $blueColor;
      }
    }
  }
}