#full-stars-example {

  .rating-group {
    display: inline-flex;
  }

  .rating__icon {
    color: white;
    pointer-events: none;
  }

  .rating__input {
    position: absolute !important;
    left: -9999px !important;
  }
  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
  }
  .rating__icon--star {
    color: orange;
  }
  .rating__icon--none {
    color: #eee;
  }
  .rating__input--none:checked + .rating__label .rating__icon--none {
    color: red;
  }
  .rating__input:checked ~ .rating__label .rating__icon--star {
    color: white;
  }
  .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
  }
  .rating__input:hover ~ .rating__label .rating__icon--star {
    color:white;
  }
  .rating-group:hover .rating__input--none:not(:hover) + .rating__label .rating__icon--none {
    color: #eee;
  }
  .rating__input--none:hover + .rating__label .rating__icon--none {
    color: red;
  }
}
