{% for message in app.flashes('danger') %}
    <div class="alert alert-danger flash">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('warning') %}
    <div class="alert alert-warning flash">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success flash">
        {{ message }}
    </div>
{% endfor %}