{% extends 'email/base.html.twig' %}
{% block body %}
    <section>
        <div class="card">
            <div class="card-body">
                <h2>{{'mail.hello'|trans}}, {{ name }}</h2>
                <p class="lead">{{'mail.generate.content'|trans}} {{ password }}</p>
            </div>
        </div>
    </section>
{% endblock %}


