{% extends 'front/index.html.twig' %}

{% block title %}404{% endblock %}

{% block content %}
    <section class="py-5 bg-light min-height">
        <div class="container pt-5">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-body">
                        <h2>{{ "page.404.title"|trans }}</h2>
                        <p>{{ 'page.404.content'|trans }}</p>
                        <a class="btn btn-primary btn-block" href="{{ path('front_index') }}">{{ 'page.404.button'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}