<div class="row">
    <div class="col-lg-3">
        <div class="card h-100">
            <div class="card-body p-4 text-dark">
                <h6 class="card-title">Nombres d'élèves</h6>
                <p class="card-text mt-3 fs-2 fw-bold">
                    {{ manager_data.students }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card h-100">
            <div class="card-body p-4 text-dark">
                <h6 class="card-title">Nombres de professeurs</h6>
                <p class="card-text mt-3 fs-2 fw-bold">
                    {{ manager_data.teachers }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card h-100">
            <div class="card-body p-4 text-dark">
                <h6 class="card-title">Nombres de matières</h6>
                <p class="card-text mt-3 fs-2 fw-bold">
                    {{ manager_data.courses }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card h-100">
            <div class="card-body p-4 text-dark">
                <h6 class="card-title">Nombres de promotions</h6>
                <p class="card-text mt-3 fs-2 fw-bold">
                    {{ manager_data.promotions }}
                </p>
            </div>
        </div>
    </div>
</div>