<form class="d-inline-block" method="post" action="{{ path('back_experience_delete', {'id': experience.id}) }}"
      onsubmit="return confirm('{{ 'button.confirmDelete'|trans({'item': experience.title}) }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ experience.id) }}">
    {% include '_partials/buttons/delete.html.twig' %}
</form>
