.experiences {
  padding: 3rem 1rem;
  text-align: left;

  &__title {
    display: flex;
    justify-content: space-between;
  }
}

.experience {
  padding: 3rem 0;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.78);
  }

  &__title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
  }

  &__company {
    font-size: .9rem;
    font-weight: 300;
  }

  &__date {
    font-size: .9rem;
    font-weight: 300;
  }

  &__description {
    padding-top: 1rem;
  }
}